/*--------radio creat binaire-----------*/
input[type="radio"] {
  display: none;
}
input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
    width: 70px;
    height: 60px;

}
input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;

}

.labelradio {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #43c4da;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}
#cnt1 h2 {
font-size: 18px;
font-weight: bold;
color: #43c4da;
margin-top: 18px;
}
#cnt5 h2 {
font-size: 18px;
font-weight: bold;
color: #ff3547;
margin-top: 18px;
}
input[type="radio"]:checked + label {
  background: #43c4da;
  color: white;
  box-shadow: 0px 0px 20px #43c4da;
}
input[type="radio"]:checked + label  h2 {
  color: white !important;
}
input[type="radio"]:checked + label::after {
  color: #43c4da;
  font-family: FontAwesome;
  border: 2px solid #43c4da;
  content: "\f00c";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px #43c4da;
}

input[type="radio"]#control_05:checked + label {
  background: #ff3547;
  border-color: #ff3547;
    box-shadow: 0px 0px 20px red;

}
input[type="radio"]#control_05:not(:checked) + label {
  border-color: #ff3547;
}
input[type="radio"]#control_05:checked + label::after {
  color: #ff3547;
  font-family: FontAwesome;
  border: 2px solid #ff3547;
  content: "\f00d";
  font-size: 27px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px red;
}

